.banner {
    width: 100%;
    height: 100%;
    background: $backgroundWhite url("../img/background/banner.svg") center center no-repeat;
    background-size: cover;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    display: flex;
    align-items: center;
    body.dark & {
        background: $backgroundDark url("../img/background/bannerdark.svg") center center no-repeat;
        background-size: cover;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms cubic-bezier(1, 0, 0, 1);
    }
    .banner-content {
        width: 100%;
        height: 100%;
        position: relative;
        margin-top: 80px;
        .text {
            padding-top: 3rem;
            margin: 0 auto;
            text-align: center;
            .text-content {
                h1 {
                    font-size: 60px;
                    text-align: center;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $primaryBlue;
                }
                .typing {
                    padding: 0.5rem 0;
                    width: 100%;
                    font-size: 32px;
                    font-weight: 500;
                    color: $amarillo;
                    #changeling {
                        color: $textSilver;
                        body.dark & {
                            color: $textWhite;
                        }
                    }
                }
                .btn-group {
                    margin: 1rem auto;
                    max-width: 500px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .btn-scroll,
                    .btn-cv {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        padding: 7.5px 20px;
                        border-radius: 50px;
                        background: $orange;
                        border: 2px solid $orange;
                        color: $blanco;
                        -webkit-transition: all 500ms;
                        -moz-transition: all 500ms;
                        -ms-transition: all 500ms;
                        -o-transition: all 500ms;
                        transition: all 500ms;
                        &:hover {
                            background: transparent;
                            color: $orange;
                            -webkit-transition: all 500ms;
                            -moz-transition: all 500ms;
                            -ms-transition: all 500ms;
                            -o-transition: all 500ms;
                            transition: all 500ms;
                        }
                    }
                }
            }
        }
        .img-banner {
            padding: 2rem 0;
            img {
                max-width: 750px;
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 1190px) {
    .banner {
        .banner-content {
            .text {
                width: 65%;
                .text-content {
                    h1 {
                        font-size: 42px;
                    }
                    .typing {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        .banner-content {
            .text {
                width: 100%;
                height: initial;
                float: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .banner {
        .banner-content {
            margin-top: 60px;
            .text {
                padding: 10rem 1rem;
                .text-content {
                    h1 {
                        font-size: 48px;
                    }
                    .typing {
                        margin: 2rem 0;
                        font-size: 28px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .banner {
        .banner-content {
            .text {
                padding: 1rem;
                .text-content {
                    h1 {
                        font-size: 32px;
                    }
                    .typing {
                        height: 100px;
                        margin: 1rem 0;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .banner {
        .banner-content {
            .text {
                padding: 1rem;
                .text-content {
                    h1 {
                        font-size: 32px;
                    }
                    .typing {
                        height: 100px;
                        margin: 1rem 0;
                        font-size: 22px;
                    }
                    .btn-group {
                        margin: 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        .btn-scroll,
                        .btn-cv {
                            font-size: 18px;
                            font-weight: 600;
                            letter-spacing: 0px;
                            padding: 7.5px 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) and (max-height: 580px) {
    .banner {
        .banner-content {
            .text {
                padding: 1rem;
                .text-content {
                    h1 {
                        font-size: 28px;
                    }
                    .typing {
                        height: 75px;
                        font-size: 20px;
                    }
                    .btn-group {
                        .btn-scroll,
                        .btn-cv {
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0px;
                            padding: 5px 7.5px;
                        }
                    }
                }
            }
        }
    }
}