.info {
    padding: 3rem;
    background: $primaryWhite;
    color: $primaryBlue;
    body.dark & {
        background: $primaryDark;
        color: $textWhite;
    }
    .main-data {
        .info-personal {
            background: $backgroundWhite;
            box-shadow: $whiteShadow;
            border-radius: 16px;
            padding: 1rem;
            margin-bottom: 1.5rem;
            body.dark & {
                background: $backgroundDark;
            }
            h2 {
                font-size: 32px;
                font-weight: 600;
            }
            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    line-height: 2;
                    font-size: 20px;
                    h6 {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    span {
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
        }
        .actitudes {
            background: $backgroundWhite;
            box-shadow: $whiteShadow;
            border-radius: 16px;
            padding: 1rem;
            margin: 1rem 0;
            body.dark & {
                background: $backgroundDark;
            }
            h3 {
                font-size: 24px;
                font-weight: 600;
            }
            ul {
                li {
                    line-height: 2;
                    padding: 0 1rem;
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
        .aptitudes {
            background: $backgroundWhite;
            box-shadow: $whiteShadow;
            border-radius: 16px;
            padding: 1rem;
            margin: 1rem 0 2rem 0;
            body.dark & {
                background: $backgroundDark;
            }
            h3 {
                font-size: 24px;
                font-weight: 600;
            }
            ul {
                li {
                    line-height: 2;
                    padding: 0 1rem;
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
    }
    .second-data {
        .idiomas {
            background: $backgroundWhite;
            box-shadow: $whiteShadow;
            border-radius: 16px;
            padding: 1rem;
            body.dark & {
                background: $backgroundDark;
            }
            h3 {
                font-size: 24px;
                font-weight: 600;
            }
            .circular-bar {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                gap: 20px;
                .bar {
                    position: relative;
                    .pie {
                        width: 120px !important;
                        height: 120px !important;
                        margin: 0;
                        padding: 0;
                        svg {
                            width: 100% !important;
                            height: 100% !important;
                            margin: 0;
                            padding: 0;
                        }
                        .background-pie {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            transform: scale(0.98);
                            top: 0;
                            left: 0;
                            border-radius: 100%;
                            background: $backgroundWhite;
                            z-index: -1;
                        }
                    }
                    p {
                        text-align: center;
                        margin-top: 0.25rem;
                        font-weight: 400;
                    }
                }
            }
        }
        .intereses {
            background: $backgroundWhite;
            box-shadow: $whiteShadow;
            border-radius: 16px;
            padding: 1rem;
            margin-top: 2rem;
            body.dark & {
                background: $backgroundDark;
            }
            h3 {
                font-size: 24px;
                font-weight: 600;
            }
            li {
                padding-left: 1rem;
                h6 {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 4px;
                }
                p {
                    padding-left: 0.5rem;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .info {
        padding: 2rem;
        .main-data {
            .info-personal {
                ul {
                    li {
                        width: 100%;
                        display: initial;
                        justify-content: initial;
                        padding: 0;
                        line-height: 1.5;
                        font-size: 20px;
                        h6 {
                            width: 100%;
                            font-size: 22px;
                            margin-bottom: 0;
                            padding: 0.25rem 0;
                        }
                        span {
                            height: 100%;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .info {
        padding: 4rem 1rem;
    }
}