#portafolio {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    .proyectos {
        width: 100%;
        height: 100%;
        .content-card {
            padding: 1rem;
            .my-card {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 16px;
                box-shadow: $sombraLight;
                overflow: hidden;
                img {
                    transition: all 400ms;
                }
                .my-card-hover {
                    visibility: none;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #0d48a1a2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: scale(1);
                    transition: all 400ms;
                    user-select: none;
                    a {
                        pointer-events: none;
                        cursor: default;
                        span {
                            padding: 2rem;
                            color: $textWhite;
                            font-size: 24px;
                            font-weight: 100px;
                            transform: rotate(0deg);
                            transition: 400ms;
                        }
                    }
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                        transition: all 400ms;
                    }
                    .my-card-hover {
                        visibility: visible;
                        opacity: 1;
                        transition: all 400ms;
                        a {
                            pointer-events: all;
                            cursor: pointer;
                            span {
                                transition: 400ms;
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    #portafolio {
        padding: 1rem;
    }
}