$azul: #0d47a1;
$azulClaro: #0076BC;
$azulCeleste:#03A9F4;
//
$negro: #212121;
$negroclaro: #37383C;
//
$blanco: #FFFFFF;
$grisClaro: #f0f1f5;
$naranja:#F06426;
$verde:#01A886;
$verdeClaro:#4CE166;
$rojo:#FF4A4A;
$amarillo:#ffeb3b;
$sombraDark: 10px 10px 20px rgba(170, 170, 170, 0.25);
$sombraLight: 10px 10px 20px rgba(0, 10, 8, 0.25);
$sombraAzul:0 0 0 3px rgba(0, 102, 255, 0.199);