@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
  font-family: "Poppins", sans-serif;
}

button,
a {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  /* for button */
  -webkit-appearance: button;
  /* for input */
  -moz-user-select: none;
  -ms-user-select: none;
}

*:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  outline: none !important;
  outline-style: none !important;
  outline-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
  -webkit-text-decoration-color: #E1E1E1;
          text-decoration-color: #E1E1E1;
}

a:link,
a:visited,
a:active {
  text-decoration: none !important;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
}

body {
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
  background: #FAFAFA;
}

body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #0d47a1;
  height: 100px;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #0076BC;
}

body.dark {
  background: #1E1E1E;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.center-img {
  display: block;
  margin: 0 auto;
}

.nav-bar {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  -webkit-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}

.nav-bar .btn-menu {
  width: 35px;
  height: 100%;
  display: none;
  padding: 0;
  margin: 0;
  z-index: 1001;
  cursor: pointer;
}

.nav-bar .btn-menu .nav-icon {
  height: 100%;
  position: absolute;
  top: 0;
  left: 1rem;
  z-index: 2;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg) scale(0.4);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-bar .btn-menu .nav-icon span {
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  height: 9px;
  width: 60px;
  background: #FAFAFA;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

body.dark .nav-bar .btn-menu .nav-icon span {
  background: #FAFAFA;
}

.nav-bar .btn-menu .nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.nav-bar .btn-menu .nav-icon span:nth-child(2) {
  top: 22px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.nav-bar .btn-menu .nav-icon span:nth-child(3) {
  top: 44px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.nav-bar .btn-menu-close .nav-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
  background: #FAFAFA;
}

body.dark .nav-bar .btn-menu-close .nav-icon span:nth-child(1) {
  background: #FAFAFA;
}

.nav-bar .btn-menu-close .nav-icon span:nth-child(2) {
  width: 0%;
  opacity: 0;
  background: #FAFAFA;
}

body.dark .nav-bar .btn-menu-close .nav-icon span:nth-child(2) {
  background: #FAFAFA;
}

.nav-bar .btn-menu-close .nav-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
  background: #FAFAFA;
}

body.dark .nav-bar .btn-menu-close .nav-icon span:nth-child(3) {
  background: #FAFAFA;
}

.nav-bar .logotipo {
  width: 450px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-bar .nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1000;
}

.nav-bar .nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3.4;
  position: relative;
  z-index: 1001;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #FAFAFA;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

body.dark .nav-bar .nav li a {
  color: #FAFAFA;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.nav-bar .nav li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background: #0076BC;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: -1;
}

.nav-bar .nav li a:hover::before {
  visibility: visible;
  background: #0076BC;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-bar .nav li.active a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0;
  background: #0076BC;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: -1;
}

.nav-bar .mode {
  z-index: 2;
}

.navbar-scroll {
  height: 60px;
  background: #0d47a1;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

body.dark .navbar-scroll {
  background: #1E1E1E;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

@media screen and (max-width: 1090px) {
  .nav-bar {
    padding: 0 2rem;
  }
  .nav-bar .logotipo {
    width: 400px;
  }
  .nav-bar .nav li a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .nav-bar .mode {
    z-index: 2;
  }
}

@media screen and (max-width: 980px) {
  .nav-bar {
    width: 100%;
    height: 75px;
    padding: 0 1rem;
    -webkit-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
  }
  .nav-bar .btn-menu {
    display: block;
  }
  .nav-bar .logotipo {
    padding: 0;
    z-index: 1001;
    width: 300px;
  }
  .nav-bar .nav {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    position: fixed;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: block;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    background: #0d47a1;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.1);
            box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.1);
    width: 60%;
    height: 92%;
    border-radius: 0 8px 8px 8px;
    left: 0;
    top: 60px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  body.dark .nav-bar .nav {
    background: #121212;
  }
  .nav-bar .nav li {
    width: 100%;
    height: auto;
  }
  .nav-bar .nav li a {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    line-height: 3.5;
    position: relative;
    z-index: 1001;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #FAFAFA;
    -webkit-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
  }
  body.dark .nav-bar .nav li a {
    color: #FAFAFA;
  }
  .nav-bar .nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: #0076BC;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: -1;
  }
  body.dark .nav-bar .nav li a::before {
    color: #0076BC;
  }
  .nav-bar .nav li a:hover::before {
    visibility: visible;
    background: #0076BC;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .nav-bar .nav li.active a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;
    background: #0076BC;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: -1;
  }
  .nav-bar .nav li.active a:hover {
    color: #FAFAFA;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  body.dark .nav-bar .nav li.active a:hover {
    color: #FAFAFA;
  }
  .nav-bar .mode {
    z-index: 1001;
    padding: 0;
  }
  .toggle-menu {
    -webkit-transition: all 500ms;
    transition: all 500ms;
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
  .navbar-scroll {
    height: 60px;
    -webkit-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
  }
  .navbar-scroll .nav li a {
    color: #FAFAFA;
  }
  body.dark .navbar-scroll .nav li a {
    color: #FAFAFA;
  }
  .navbar-scroll .nav li a:hover::before {
    background: #0076BC;
  }
  body.dark .navbar-scroll .nav li a:hover::before {
    background: #FAFAFA;
  }
  .navbar-scroll .nav li.active a:hover {
    color: #FAFAFA;
  }
  body.dark .navbar-scroll .nav li.active a:hover {
    color: #FAFAFA;
  }
  .navbar-scroll .nav li.active a:hover::before {
    background: #0076BC;
  }
  body.dark .navbar-scroll .nav li.active a:hover::before {
    background: #FAFAFA;
  }
}

@media screen and (max-width: 460px) {
  .nav-bar .logotipo {
    padding: 0;
    z-index: 1001;
    width: 275px;
  }
}

@media screen and (max-width: 360px) {
  .nav-bar .logotipo {
    width: 225px;
  }
}

#loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FAFAFA;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms ease-out, visibility 0s linear 500ms;
  transition: opacity 500ms ease-out, visibility 0s linear 500ms;
  z-index: 1020;
}

body.dark #loader {
  background: #1E1E1E;
}

#loader.fullscreen {
  background: #FAFAFA;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
}

body.dark #loader.fullscreen {
  background: #1E1E1E;
}

#loader.show {
  -webkit-transition: opacity 500ms ease-out, visibility 0s linear 0s;
  transition: opacity 500ms ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .loading-animation .logo {
  display: block;
  margin: 0 auto;
  width: 50px;
}

.switch {
  background: #0076BC;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch::after {
  content: "";
  display: block;
  width: 27.5px;
  height: 27.5px;
  position: absolute;
  background: #FAFAFA;
  top: 0;
  left: 0;
  right: unset;
  border-radius: unset;
  border-radius: 100px;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
}

.switch.active {
  background: #ffe640;
}

.switch.active::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.switch span {
  width: 27.5px;
  height: 27.5px;
  line-height: 27.5px;
  display: block;
  background: none;
  color: #fff;
}

.banner {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #0d47a1 url("../img/background/background.svg") center center no-repeat;
  background-size: cover;
  -webkit-transition: all 500ms;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark .banner {
  background: #1E1E1E url("../img/background/background_dark.svg") center center no-repeat;
  background-size: cover;
  -webkit-transition: all 500ms;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
}

.banner .banner-content {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 70px;
}

.banner .banner-content .text {
  padding-top: 1rem;
  margin: 0 auto;
  text-align: center;
}

.banner .banner-content .text .text-content h1 {
  font-size: 56px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #FAFAFA;
}

.banner .banner-content .text .text-content .typing {
  padding: 0.5rem 0;
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  color: #ffe640;
}

.banner .banner-content .text .text-content .typing #changeling {
  color: #EDF0F5;
}

body.dark .banner .banner-content .text .text-content .typing #changeling {
  color: #FAFAFA;
}

.banner .banner-content .text .text-content .btn-group {
  margin: .5rem auto;
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner .banner-content .text .text-content .btn-group .btn-scroll,
.banner .banner-content .text .text-content .btn-group .btn-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 7.5px 20px;
  border-radius: 50px;
  background: #F06426;
  border: 2px solid #F06426;
  color: #FAFAFA;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.banner .banner-content .text .text-content .btn-group .btn-scroll:hover,
.banner .banner-content .text .text-content .btn-group .btn-cv:hover {
  background: transparent;
  color: #F06426;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.banner .banner-content .img-banner {
  padding: 1rem;
}

.banner .banner-content .img-banner img {
  width: 100%;
  max-width: 575px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1190px) {
  .banner .banner-content .text {
    width: 65%;
  }
  .banner .banner-content .text .text-content h1 {
    font-size: 42px;
  }
  .banner .banner-content .text .text-content .typing {
    font-size: 28px;
  }
}

@media screen and (max-width: 1024px) {
  .banner .banner-content .text {
    width: 100%;
    height: initial;
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .banner .banner-content {
    margin-top: 60px;
  }
  .banner .banner-content .text {
    padding: 10rem 1rem;
  }
  .banner .banner-content .text .text-content h1 {
    font-size: 48px;
  }
  .banner .banner-content .text .text-content .typing {
    margin: 2rem 0;
    font-size: 28px;
  }
}

@media screen and (max-width: 640px) {
  .banner .banner-content .text {
    padding: 1rem;
  }
  .banner .banner-content .text .text-content h1 {
    font-size: 32px;
  }
  .banner .banner-content .text .text-content .typing {
    height: 100px;
    margin: 1rem 0;
    font-size: 22px;
  }
}

@media screen and (max-width: 440px) {
  .banner .banner-content .text {
    padding: 1rem;
  }
  .banner .banner-content .text .text-content h1 {
    font-size: 28px;
  }
  .banner .banner-content .text .text-content .typing {
    height: 100px;
    margin: 1rem 0;
    font-size: 22px;
  }
  .banner .banner-content .text .text-content .btn-group {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .banner-content .text .text-content .btn-group .btn-scroll,
  .banner .banner-content .text .text-content .btn-group .btn-cv {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 7.5px 10px;
  }
}

@media screen and (max-width: 360px) and (max-height: 580px) {
  .banner .banner-content .text {
    padding: 1rem;
  }
  .banner .banner-content .text .text-content h1 {
    font-size: 28px;
  }
  .banner .banner-content .text .text-content .typing {
    height: 75px;
    font-size: 20px;
  }
  .banner .banner-content .text .text-content .btn-group .btn-scroll,
  .banner .banner-content .text .text-content .btn-group .btn-cv {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    padding: 5px 7.5px;
  }
}

.sobre-mi {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/background/front.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sobre-mi .content {
  width: 100%;
  height: 100%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sobre-mi .content h2 {
  color: #EDF0F5;
  font-size: 42px;
  letter-spacing: 3px;
  font-weight: 200;
}

.sobre-mi .content h2 span {
  font-weight: 700;
  color: #EDF0F5;
}

.sobre-mi .content p {
  color: #E1E1E1;
  font-size: 24px;
  line-height: 2.5;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: justify;
}

.sobre-mi .content p span {
  font-weight: 600;
  font-style: italic;
}

.sobre-mi .content p span i {
  font-size: 18px;
  padding: 0 0.25rem;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

@media (max-width: 982px) {
  .sobre-mi {
    background-attachment: fixed;
  }
  .sobre-mi .content {
    padding: 2rem;
  }
  .sobre-mi .content p {
    color: #E1E1E1;
    font-size: 22px;
    line-height: 2.5;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .sobre-mi {
    background: url("../img/background/frontResponsive.png") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .sobre-mi .content {
    padding: 1rem;
  }
  .sobre-mi .content p {
    color: #E1E1E1;
    font-size: 18px;
    line-height: 2;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: justify;
  }
  .sobre-mi .content p span i {
    font-size: 14px;
    padding: 0 0.5rem;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}

@media screen and (max-width: 640px) {
  .sobre-mi {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
  }
  .sobre-mi .content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sobre-mi .content p {
    color: #E1E1E1;
    font-size: 18px;
    line-height: 2.5;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: justify;
  }
  .sobre-mi .content p span i {
    font-size: 14px;
    padding: 0 0.5rem;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}

.aptitudes section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 20px;
}

.aptitudes section:not(:last-child):after {
  position: absolute;
  content: "scroll down";
  bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.aptitudes section:nth-child(even) {
  background: #f8f8f8;
}

@media (max-width: 720px) {
  .aptitudes section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .aptitudes .pie {
    width: 150px !important;
    height: 150px !important;
  }
  .aptitudes .pie svg {
    width: 150px;
    height: 150px;
  }
}

.info {
  padding: 3rem;
  background: #EDF0F5;
  color: #0076BC;
}

body.dark .info {
  background: #121212;
  color: #E1E1E1;
}

.info .main-data .info-personal {
  background: #FAFAFA;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

body.dark .info .main-data .info-personal {
  background: #1E1E1E;
}

.info .main-data .info-personal h2 {
  font-size: 32px;
  font-weight: 600;
}

.info .main-data .info-personal ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2;
  font-size: 20px;
}

.info .main-data .info-personal ul li h6 {
  font-size: 20px;
  font-weight: 500;
}

.info .main-data .info-personal ul li span {
  font-size: 20px;
  font-weight: 400;
}

.info .main-data .actitudes {
  background: #FAFAFA;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 1rem;
  margin: 1rem 0;
}

body.dark .info .main-data .actitudes {
  background: #1E1E1E;
}

.info .main-data .actitudes h3 {
  font-size: 24px;
  font-weight: 600;
}

.info .main-data .actitudes ul li {
  line-height: 2;
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 400;
}

.info .main-data .aptitudes {
  background: #FAFAFA;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

body.dark .info .main-data .aptitudes {
  background: #1E1E1E;
}

.info .main-data .aptitudes h3 {
  font-size: 24px;
  font-weight: 600;
}

.info .main-data .aptitudes ul li {
  line-height: 2;
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 400;
}

.info .second-data .idiomas {
  background: #FAFAFA;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 1rem;
}

body.dark .info .second-data .idiomas {
  background: #1E1E1E;
}

.info .second-data .idiomas h3 {
  font-size: 24px;
  font-weight: 600;
}

.info .second-data .idiomas .circular-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

.info .second-data .idiomas .circular-bar .bar {
  position: relative;
}

.info .second-data .idiomas .circular-bar .bar .pie {
  width: 120px !important;
  height: 120px !important;
  margin: 0;
  padding: 0;
}

.info .second-data .idiomas .circular-bar .bar .pie svg {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
}

.info .second-data .idiomas .circular-bar .bar .pie .background-pie {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  top: 0;
  left: 0;
  border-radius: 100%;
  background: #FAFAFA;
  z-index: -1;
}

.info .second-data .idiomas .circular-bar .bar p {
  text-align: center;
  margin-top: 0.25rem;
  font-weight: 400;
}

.info .second-data .intereses {
  background: #FAFAFA;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 1rem;
  margin-top: 2rem;
}

body.dark .info .second-data .intereses {
  background: #1E1E1E;
}

.info .second-data .intereses h3 {
  font-size: 24px;
  font-weight: 600;
}

.info .second-data .intereses li {
  padding-left: 1rem;
}

.info .second-data .intereses li h6 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.info .second-data .intereses li p {
  padding-left: 0.5rem;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .info {
    padding: 2rem;
  }
  .info .main-data .info-personal ul li {
    width: 100%;
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    padding: 0;
    line-height: 1.5;
    font-size: 20px;
  }
  .info .main-data .info-personal ul li h6 {
    width: 100%;
    font-size: 22px;
    margin-bottom: 0;
    padding: 0.25rem 0;
  }
  .info .main-data .info-personal ul li span {
    height: 100%;
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .info {
    padding: 4rem 1rem;
  }
}

.formacion {
  background: #EDF0F5;
  padding: 0rem 3rem;
  width: 100%;
}

body.dark .formacion {
  background: #121212;
}

.formacion .timeline-title {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: #0d47a1;
}

.formacion .circle-date {
  width: 50%;
  padding: 1rem !important;
  border-radius: 16px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.formacion .circle-date h2 {
  font-size: 42px;
  padding-top: 1rem;
}

.formacion .timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.formacion .timeline__event {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 16px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  padding: 3rem 0;
}

.formacion .timeline__event:nth-child(2n + 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.formacion .timeline__event:nth-child(2n + 1) .timeline__event__date {
  border-radius: 0 16px 16px 0;
}

.formacion .timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 16px 0 0 16px;
}

.formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
  content: "";
  width: 3px;
  height: calc(100% + 15rem);
  background: #03A9F4;
  position: absolute;
  top: 100%;
  left: 50%;
  right: auto;
  z-index: -1;
}

.formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
  content: "";
  width: calc(100% + 150px);
  height: 3px;
  background: #03A9F4;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: calc(-100% - 150px);
}

.formacion .timeline__event__title {
  margin-bottom: 1rem;
}

.formacion .timeline__event__content {
  padding: 2rem;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.1);
          box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.1);
  width: 100%;
  border-radius: 0 16px 16px 0;
  background: #FAFAFA;
}

body.dark .formacion .timeline__event__content {
  background: #1E1E1E;
}

.formacion .timeline__event__date {
  color: #FAFAFA;
  font-size: 1.5rem;
  font-weight: 600;
  background: #0d47a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  padding: 0 50px;
  border-radius: 16px 0 0 16px;
}

.formacion .timeline__event__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FAFAFA;
  padding: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 150px;
  background: #0d47a1;
  border-radius: 100%;
  width: 40px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.1);
          box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.1);
  padding: 40px;
  height: 40px;
  position: relative;
}

.formacion .timeline__event__icon i {
  font-size: 32px;
}

.formacion .timeline__event__icon:before {
  content: "";
  width: 3px;
  height: calc(100% + 15rem);
  background: #03A9F4;
  position: absolute;
  top: 100%;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.formacion .timeline__event__icon:after {
  content: "";
  width: calc(100% + 150px);
  height: 3px;
  background: #03A9F4;
  position: absolute;
  left: 100%;
  z-index: -1;
  top: 50%;
}

.formacion .timeline__event__description {
  font-size: 20px;
  line-height: 2;
  text-align: justify;
  color: #505050;
  font-weight: 500;
}

body.dark .formacion .timeline__event__description {
  color: #E1E1E1;
}

.formacion .timeline__event--type2:after {
  background: #01A886;
}

.formacion .timeline__event--type2 .timeline__event__date {
  color: #FAFAFA;
  background: #01A886;
}

.formacion .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before, .formacion .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
  background: #F06426;
}

.formacion .timeline__event--type2 .timeline__event__icon {
  background: #01A886;
  color: #FAFAFA;
}

.formacion .timeline__event--type2 .timeline__event__icon:before, .formacion .timeline__event--type2 .timeline__event__icon:after {
  background: #F06426;
}

.formacion .timeline__event--type3:after {
  background: #F06426;
}

.formacion .timeline__event--type3 .timeline__event__date {
  color: #FAFAFA;
  background-color: #01A886;
}

.formacion .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before, .formacion .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
  background: #F06426;
}

.formacion .timeline__event--type3 .timeline__event__icon {
  background: #01A886;
  color: #FAFAFA;
}

.formacion .timeline__event--type3 .timeline__event__icon:before, .formacion .timeline__event--type3 .timeline__event__icon:after {
  background: #F06426;
}

.formacion .timeline__event:last-child .timeline__event__icon:before {
  content: none;
}

@media (max-width: 980px) {
  .formacion {
    padding: 2rem;
  }
  .formacion .circle-date {
    width: 100%;
    padding: 0 1rem !important;
    border-radius: 0 0 16px 16px !important;
  }
  .formacion .timeline__event {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .formacion .timeline__event:nth-child(2n + 1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__content {
    border-radius: 0;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    width: 100%;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
    display: none;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
    display: none;
  }
  .formacion .timeline__event__title {
    margin-bottom: 0rem;
  }
  .formacion .timeline__event__content {
    padding: 1rem;
    width: 100%;
    border-radius: 0 0 16px 16px !important;
  }
  .formacion .timeline__event__date {
    padding: 0;
    border-radius: 0;
  }
  .formacion .timeline__event__icon {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #0d47a1;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 16px 20px 0px 0;
  }
  .formacion .timeline__event__icon i {
    font-size: 32px;
  }
  .formacion .timeline__event__icon:before {
    content: "";
    display: none;
  }
  .formacion .timeline__event__icon:after {
    display: none;
  }
  .formacion .timeline__event__description {
    font-size: 18px;
    line-height: 2;
    text-align: justify;
  }
}

@media (max-width: 640px) {
  .formacion {
    padding: 0;
    padding-bottom: 2rem;
  }
  .formacion .timeline__event {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .formacion .timeline__event:nth-child(2n + 1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__content {
    border-radius: 0;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    width: 100%;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
    display: none;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
    display: none;
  }
  .formacion .timeline__event__title {
    margin-bottom: 0rem;
  }
  .formacion .timeline__event__content {
    padding: 1rem;
    width: 100%;
    border-radius: 0 0 16px 16px !important;
  }
  .formacion .timeline__event__date {
    padding: 0;
    border-radius: 0;
  }
  .formacion .timeline__event__icon {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #0d47a1;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 16px 16px 0px 0;
  }
  .formacion .timeline__event__icon i {
    font-size: 32px;
  }
  .formacion .timeline__event__icon:before {
    content: "";
    display: none;
  }
  .formacion .timeline__event__icon:after {
    display: none;
  }
  .formacion .timeline__event__description {
    font-size: 16px;
    line-height: 2;
    text-align: justify;
  }
}

.conocimientos {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url("../img/background/backgroundFront.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.conocimientos .slider {
  overflow: hidden;
}

.conocimientos .slider h2 {
  font-size: 36px;
  color: #FAFAFA;
  font-weight: 600;
}

.conocimientos .slider p {
  color: #FAFAFA;
}

.conocimientos .slider .owl-carousel .owl-item .item {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  overflow: hidden;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.conocimientos .slider .owl-carousel .owl-item .item img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.conocimientos .slider .owl-carousel .owl-item .item .description {
  padding: 1rem;
  opacity: 0;
}

.conocimientos .slider .owl-carousel .owl-item .item .description h3 {
  color: #FAFAFA;
  font-weight: 600;
  letter-spacing: 3px;
}

.conocimientos .slider .owl-carousel .owl-item .item .description p {
  font-size: 18px;
  color: #FAFAFA;
  letter-spacing: 2px;
  font-weight: 400;
  padding: 0 1rem;
}

.conocimientos .slider .owl-carousel .owl-item.big div {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -webkit-transition: all 500ms;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: grayscale all 500ms;
  transition: grayscale all 500ms;
}

.conocimientos .slider .owl-carousel .owl-item.big div .description {
  opacity: 1;
  -webkit-transition: opacity all 500ms;
  transition: opacity all 500ms;
}

@media (max-width: 720px) {
  .conocimientos .slider h2 {
    font-size: 36px;
    color: #FAFAFA;
    font-weight: 600;
  }
  .conocimientos .slider p {
    color: #FAFAFA;
  }
  .conocimientos .slider p span {
    display: none;
  }
  .conocimientos .slider .owl-carousel .owl-item .item {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
  }
  .conocimientos .slider .owl-carousel .owl-item .item img {
    width: 125px;
    height: 125px;
  }
  .conocimientos .slider .owl-carousel .owl-item .item .description {
    opacity: 1;
  }
  .conocimientos .slider .owl-carousel .owl-item .item .description p {
    min-height: 100px;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0 1.5rem;
  }
  .conocimientos .slider .owl-carousel .owl-item.big div {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

#proyectos {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#proyectos .proyectos {
  width: 100%;
  height: 100%;
}

#proyectos .proyectos h2 {
  font-size: 32px;
  font-weight: 600;
  color: #0076BC;
  text-align: center;
}

body.dark #proyectos .proyectos h2 {
  color: #FAFAFA;
}

#proyectos .proyectos .content-card {
  padding: 1rem;
}

#proyectos .proyectos .content-card .my-card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2rem;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.1);
          box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.1);
  overflow: hidden;
}

#proyectos .proyectos .content-card .my-card img {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#proyectos .proyectos .content-card .my-card .my-card-hover {
  visibility: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0d48a1a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#proyectos .proyectos .content-card .my-card .my-card-hover a {
  pointer-events: none;
  cursor: default;
}

#proyectos .proyectos .content-card .my-card .my-card-hover a span {
  padding: 2rem;
  color: #E1E1E1;
  font-size: 24px;
  font-weight: 100px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 400ms;
  transition: 400ms;
}

#proyectos .proyectos .content-card .my-card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#proyectos .proyectos .content-card .my-card:hover .my-card-hover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#proyectos .proyectos .content-card .my-card:hover .my-card-hover a {
  pointer-events: all;
  cursor: pointer;
}

#proyectos .proyectos .content-card .my-card:hover .my-card-hover a span {
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 720px) {
  #proyectos {
    padding: 1rem;
  }
}

.proyect-content {
  width: 100%;
  height: 100%;
  background: #FAFAFA url("../img/background/background.svg") center center no-repeat;
  background-size: cover;
  color: #FAFAFA;
  padding-top: 80px;
}

body.dark .proyect-content {
  background: #1E1E1E url("../img/background/background_dark.svg") center center no-repeat;
  background-size: cover;
}

.proyect-content .macbook {
  padding: 1rem;
  margin: 0 auto;
  max-width: 800px;
}

.proyect-content .macbook .screen {
  background: #1f1f1f;
  border-radius: 3% 3% 0.5% 0.5% / 5%;
  margin: 0 auto;
  /* for aspect ratio */
  position: relative;
  width: 80%;
}

.proyect-content .macbook .screen::before {
  border: 2px solid #1b1b1b;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  content: "";
  display: block;
  /* for aspect ratio ~67:100 */
  padding-top: 65%;
}

.proyect-content .macbook .screen .viewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4% 3%;
  background: transparent;
  overflow: hidden;
}

.proyect-content .macbook .screen .viewport .owl-theme {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.proyect-content .macbook .screen .viewport .owl-theme .item {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.proyect-content .macbook .screen .viewport .owl-theme .item img {
  width: 100%;
  height: 100%;
}

.proyect-content .macbook .screen .viewport .owl-theme .owl-dots {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.proyect-content .macbook .base {
  /* for aspect ratio */
  position: relative;
  width: 100%;
}

.proyect-content .macbook .base::before {
  content: "";
  display: block;
  /* for aspect ratio ~33:1000*/
  padding-top: 3.3%;
  /* stylin */
  background: -webkit-gradient(linear, left top, left bottom, from(#eaeced), color-stop(55%, #edeef0), color-stop(55%, #fff), color-stop(56%, #8a8b8f), color-stop(61%, #999ba0), color-stop(84%, #4b4b4f), color-stop(89%, #262627), color-stop(98%, rgba(0, 0, 0, 0.01)));
  background: linear-gradient(#eaeced, #edeef0 55%, #fff 55%, #8a8b8f 56%, #999ba0 61%, #4b4b4f 84%, #262627 89%, rgba(0, 0, 0, 0.01) 98%);
  border-radius: 0 0 10% 10%/ 0 0 50% 50%;
}

.proyect-content .macbook .base::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), color-stop(0.5%, rgba(255, 255, 255, 0.8)), color-stop(3.3%, rgba(0, 0, 0, 0.4)), color-stop(15%, transparent), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(85%, transparent), color-stop(96.7%, rgba(0, 0, 0, 0.4)), color-stop(99.5%, rgba(255, 255, 255, 0.8)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) 0.5%, rgba(0, 0, 0, 0.4) 3.3%, transparent 15%, rgba(255, 255, 255, 0.8) 50%, transparent 85%, rgba(0, 0, 0, 0.4) 96.7%, rgba(255, 255, 255, 0.8) 99.5%, rgba(0, 0, 0, 0.5) 100%);
  content: "";
  height: 53%;
  position: absolute;
  top: 0;
  width: 100%;
}

.proyect-content .macbook .notch {
  background: #ddd;
  border-radius: 0 0 7% 7% / 0 0 95% 95%;
  -webkit-box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset, 5px -1px 3px rgba(0, 0, 0, 0.2) inset;
          box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset, 5px -1px 3px rgba(0, 0, 0, 0.2) inset;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.5%;
  z-index: 2;
  /* for aspect ratio */
  position: relative;
  width: 14%;
}

.proyect-content .macbook .notch::before {
  content: "";
  display: block;
  /* for aspect ratio ~1:10 */
  padding-top: 10%;
}

.proyect-content .info-proyect {
  padding: 1rem 3rem;
}

.proyect-content .info-proyect span {
  letter-spacing: 1px;
  color: #FAFAFA;
  opacity: 0.85;
}

.proyect-content .info-proyect h1 {
  font-weight: 600;
  letter-spacing: 3px;
  color: #FAFAFA;
}

.proyect-content .info-proyect p {
  line-height: 2;
  letter-spacing: 3px;
  font-size: 20px;
  text-align: justify;
}

.proyect-content .info-proyect .paleta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proyect-content .info-proyect .paleta li {
  padding: 0 1rem;
}

.proyect-content .info-proyect .paleta li .color {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  padding: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.proyect-content .info-proyect .paleta.iaasa .color-1 {
  background: #6bac2c;
}

.proyect-content .info-proyect .paleta.iaasa .color-2 {
  background: #015101;
}

.proyect-content .info-proyect .paleta.iaasa .color-3 {
  background: #fff;
  color: #1b1b1b;
}

.proyect-content .info-proyect .paleta.h28 .color-1 {
  background: #6c1716;
}

.proyect-content .info-proyect .paleta.h28 .color-2 {
  background: #8e171c;
}

.proyect-content .info-proyect .paleta.h28 .color-3 {
  background: #373b39;
}

.proyect-content .info-proyect .paleta.gbs .color-1 {
  background: #4a6a9b;
}

.proyect-content .info-proyect .paleta.gbs .color-2 {
  background: #637aa6;
}

.proyect-content .info-proyect .paleta.gbs .color-3 {
  background: #22cc5d;
}

.proyect-content .info-proyect .paleta.tgs .color-1 {
  background: #D00510;
}

.proyect-content .info-proyect .paleta.tgs .color-2 {
  background: #6c1716;
}

.proyect-content .info-proyect .paleta.tgs .color-3 {
  background: #373737;
}

.proyect-content .info-proyect .paleta.sfd .color-1 {
  background: #229E6C;
}

.proyect-content .info-proyect .paleta.sfd .color-2 {
  background: #E2C41B;
}

.proyect-content .info-proyect .paleta.sfd .color-3 {
  background: #004B97;
}

.proyect-content .info-proyect .paleta.cideam .color-1 {
  background: #00B395;
}

.proyect-content .info-proyect .paleta.cideam .color-2 {
  background: #F87000;
}

.proyect-content .info-proyect .paleta.cideam .color-3 {
  background: #121212;
}

.proyect-content .info-proyect .paleta.ciencias .color-1 {
  background: #023745;
}

.proyect-content .info-proyect .paleta.ciencias .color-2 {
  background: #d7bb72;
}

.proyect-content .info-proyect .paleta.ciencias .color-3 {
  background: #ffffff;
  color: #1b1b1b;
}

@media screen and (max-width: 640px) {
  .proyect-content .info-proyect {
    padding: 1rem;
  }
  .proyect-content .info-proyect span {
    letter-spacing: 1px;
    color: #FAFAFA;
    opacity: 0.85;
  }
  .proyect-content .info-proyect h1 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 1.75;
  }
  .proyect-content .info-proyect p {
    line-height: 1.75;
    letter-spacing: 0px;
    font-size: 16px;
  }
  .proyect-content .info-proyect .paleta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proyect-content .info-proyect .paleta li {
    padding: 0 0.5rem;
  }
  .proyect-content .info-proyect .paleta li .color {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 480px) {
  .proyecto .mac {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

#contacto {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #0d47a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

body.dark #contacto {
  background: #1E1E1E;
}

#contacto .footer img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#contacto .footer h2 {
  color: #FAFAFA;
  font-size: 75px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

#contacto .footer .sec-1 {
  text-align: center;
}

#contacto .footer .sec-1 h2 {
  color: #FAFAFA;
}

#contacto .footer .sec-1 ul {
  list-style: none;
  margin: 0;
  padding: 8px 0;
  display: inline;
}

#contacto .footer .sec-1 ul li {
  display: inline-block;
  color: #FAFAFA;
  font-size: 18px;
}

#contacto .footer .sec-1 ul li i {
  padding: 0 0.25rem;
}

#contacto .footer .sec-1 ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FAFAFA;
  font-weight: 600;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#00b6ff), color-stop(50%, #dc00fe), color-stop(50%, #FAFAFA));
  background: linear-gradient(to right, #00b6ff, #dc00fe 50%, #FAFAFA 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
}

#contacto .footer .sec-1 ul li a:hover {
  background-position: 0 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

#contacto .footer .sec-2 {
  padding: 1rem;
}

#contacto .footer .sec-2 .redes-sociales {
  padding: 1rem 0;
}

#contacto .footer .sec-2 .redes-sociales ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .footer .sec-2 .redes-sociales ul li a {
  width: 80px;
  height: 80px;
  margin: 0 1rem;
  border-radius: 50%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  font-size: 24px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 3px 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 0 0 rgba(0, 0, 0, 0.2);
  border: 4px solid #FAFAFA;
  overflow: hidden;
  color: #FAFAFA;
  text-decoration: none;
  color: #FAFAFA;
}

#contacto .footer .sec-2 .redes-sociales ul li a.whatsapp:hover {
  background: #4DC75C;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contacto .footer .sec-2 .redes-sociales ul li a.linkedin:hover {
  background: #006AA4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contacto .footer .sec-2 .redes-sociales ul li a.phone:hover {
  background: #F06426;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 720px) {
  #contacto {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #0d47a1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }
  #contacto .footer {
    width: 100%;
    height: 100%;
  }
  #contacto .footer h2 {
    color: #FAFAFA;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  #contacto .footer .sec-1 {
    text-align: center;
  }
  #contacto .footer .sec-1 h2 {
    color: #FAFAFA;
  }
  #contacto .footer .sec-1 ul {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    display: inline;
  }
  #contacto .footer .sec-1 ul li {
    display: inline-block;
    color: #FAFAFA;
    font-size: 18px;
  }
  #contacto .footer .sec-1 ul li i {
    padding: 0 0.25rem;
  }
  #contacto .footer .sec-1 ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FAFAFA;
    font-weight: 600;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, from(#00b6ff), color-stop(50%, #dc00fe), color-stop(50%, #FAFAFA));
    background: linear-gradient(to right, #00b6ff, #dc00fe 50%, #FAFAFA 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-transition: background-position 275ms ease;
    transition: background-position 275ms ease;
    text-decoration: none;
  }
  #contacto .footer .sec-1 ul li a:hover {
    background-position: 0 100%;
    -webkit-transition: background-position 275ms ease;
    transition: background-position 275ms ease;
  }
  #contacto .footer .sec-2 {
    padding: 1rem;
  }
  #contacto .footer .sec-2 .redes-sociales {
    padding: 1rem 0;
  }
  #contacto .footer .sec-2 .redes-sociales ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contacto .footer .sec-2 .redes-sociales ul li a {
    width: 80px;
    height: 80px;
    margin: 0 1rem;
    border-radius: 50%;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    font-size: 24px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 2px 3px 0 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 3px 0 0 rgba(0, 0, 0, 0.2);
    border: 4px solid #FAFAFA;
    overflow: hidden;
    color: #FAFAFA;
    text-decoration: none;
    color: #FAFAFA;
  }
  #contacto .footer .sec-2 .redes-sociales ul li a.whatsapp:hover {
    background: #4DC75C;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #contacto .footer .sec-2 .redes-sociales ul li a.linkedin:hover {
    background: #006AA4;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #contacto .footer .sec-2 .redes-sociales ul li a.phone:hover {
    background: #F06426;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=estilos.css.map */