@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #FFFFFF;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
}

body::-webkit-scrollbar.dark body::-webkit-scrollbar {
  background: #212121;
}

body::-webkit-scrollbar-thumb {
  background: #0d47a1;
  height: 125px;
  border-radius: 5px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

body::-webkit-scrollbar-thumb:hover {
  background: #0076BC;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

body {
  background: #f0f1f5;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark {
  background: #212121;
}

button,
a {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  /* for button */
  -webkit-appearance: button;
  /* for input */
  -moz-user-select: none;
  -ms-user-select: none;
}

*:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  outline: none !important;
  outline-style: none !important;
  outline-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.center-img {
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

a:link,
a:visited,
a:active {
  text-decoration: none !important;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
}

.nav-bar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.nav-bar .btn-menu {
  display: none;
  padding: 0;
  margin: 0;
  z-index: 1001;
  cursor: pointer;
}

.nav-bar .btn-menu .nav-icon {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 2;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg) scale(0.4);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-bar .btn-menu .nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #0076BC;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

body.dark .nav-bar .btn-menu .nav-icon span {
  background: #FFFFFF;
}

.nav-bar .btn-menu .nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.nav-bar .btn-menu .nav-icon span:nth-child(2) {
  top: 22px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.nav-bar .btn-menu .nav-icon span:nth-child(3) {
  top: 44px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.nav-bar .btn-menu-close .nav-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
  background: #0076BC;
}

body.dark .nav-bar .btn-menu-close .nav-icon span:nth-child(1) {
  background: #FFFFFF;
}

.nav-bar .btn-menu-close .nav-icon span:nth-child(2) {
  width: 0%;
  opacity: 0;
  background: #0076BC;
}

body.dark .nav-bar .btn-menu-close .nav-icon span:nth-child(2) {
  background: #FFFFFF;
}

.nav-bar .btn-menu-close .nav-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
  background: #0076BC;
}

body.dark .nav-bar .btn-menu-close .nav-icon span:nth-child(3) {
  background: #FFFFFF;
}

.nav-bar .logotipo {
  padding: 0;
}

.nav-bar .logotipo .img-light {
  width: 250px;
  height: 100%;
  display: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-bar .logotipo .img-dark {
  width: 250px;
  height: 100%;
  display: initial;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

body.dark .nav-bar .logotipo .img-light {
  display: initial;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

body.dark .nav-bar .logotipo .img-dark {
  display: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-bar .nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1000;
}

.nav-bar .nav li {
  height: 100%;
}

.nav-bar .nav li a {
  height: 100%;
  line-height: 2.5;
  position: relative;
  z-index: 1001;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #37383C;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

body.dark .nav-bar .nav li a {
  color: #FFFFFF;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.nav-bar .nav li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background: #0076BC;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: -1;
}

.nav-bar .nav li a:hover::before {
  visibility: visible;
  background: #0076BC;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-bar .nav li.active a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0;
  background: #0076BC;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: -1;
}

.nav-bar .mode {
  z-index: 2;
}

.navbar-scroll {
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.25);
          box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.25);
}

body.dark .navbar-scroll {
  background: #212121;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.25);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.25);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@media screen and (max-width: 1090px) {
  .nav-bar .logotipo .img-light {
    width: 210px;
  }
  .nav-bar .logotipo .img-dark {
    width: 210px;
  }
  .nav-bar .nav li a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .nav-bar .mode {
    z-index: 2;
  }
}

@media screen and (max-width: 980px) {
  .nav-bar {
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .nav-bar .btn-menu {
    display: initial;
  }
  .nav-bar .logotipo {
    padding: 0;
    z-index: 1001;
  }
  .nav-bar .logotipo .img-light {
    width: 200px;
    display: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .nav-bar .logotipo .img-dark {
    width: 200px;
    display: initial;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .nav-bar .nav {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    position: fixed;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: block;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    background: #FFFFFF;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.25);
            box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.25);
    width: 60%;
    height: 92%;
    border-radius: 8px;
    left: 0;
    top: 60px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  body.dark .nav-bar .nav {
    background: #212121;
  }
  .nav-bar .nav li {
    width: 100%;
    height: auto;
  }
  .nav-bar .nav li a {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    line-height: 3.5;
    position: relative;
    z-index: 1001;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #37383C;
    -webkit-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
  }
  body.dark .nav-bar .nav li a {
    color: #FFFFFF;
  }
  .nav-bar .nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: #FFFFFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: -1;
  }
  body.dark .nav-bar .nav li a::before {
    color: #FFFFFF;
  }
  .nav-bar .nav li a:hover::before {
    visibility: visible;
    background: #FFFFFF;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .nav-bar .nav li.active a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;
    background: #0076BC;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: -1;
  }
  .nav-bar .nav li.active a:hover {
    color: #37383C;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  body.dark .nav-bar .nav li.active a:hover {
    color: #FFFFFF;
  }
  .nav-bar .mode {
    z-index: 1001;
    padding: 0;
  }
  .toggle-menu {
    -webkit-transition: all 500ms;
    transition: all 500ms;
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
  .navbar-scroll .logotipo .img-light {
    display: none;
  }
  .navbar-scroll .logotipo .img-dark {
    display: initial;
  }
  body.dark .navbar-scroll .logotipo .img-light {
    display: initial;
  }
  body.dark .navbar-scroll .logotipo .img-dark {
    display: none;
  }
  .navbar-scroll .nav li a {
    color: #37383C;
  }
  body.dark .navbar-scroll .nav li a {
    color: #FFFFFF;
  }
  .navbar-scroll .nav li a:hover::before {
    background: #0076BC;
  }
  body.dark .navbar-scroll .nav li a:hover::before {
    background: #FFFFFF;
  }
  .navbar-scroll .nav li.active a:hover {
    color: #37383C;
  }
  body.dark .navbar-scroll .nav li.active a:hover {
    color: #FFFFFF;
  }
  .navbar-scroll .nav li.active a:hover::before {
    background: #0076BC;
  }
  body.dark .navbar-scroll .nav li.active a:hover::before {
    background: #FFFFFF;
  }
}

#loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f0f1f5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms ease-out, visibility 0s linear 500ms;
  transition: opacity 500ms ease-out, visibility 0s linear 500ms;
  z-index: 1020;
}

body.dark #loader {
  background: #37383C;
}

#loader.fullscreen {
  background: #f0f1f5;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
}

body.dark #loader.fullscreen {
  background: #37383C;
}

#loader.show {
  -webkit-transition: opacity 500ms ease-out, visibility 0s linear 0s;
  transition: opacity 500ms ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .loading-animation .logo {
  display: block;
  margin: 0 auto;
  width: 50px;
}

.switch {
  background: #0076BC;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch::after {
  content: "";
  display: block;
  width: 27.5px;
  height: 27.5px;
  position: absolute;
  background: #FFFFFF;
  top: 0;
  left: 0;
  right: unset;
  border-radius: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.switch.active {
  background: #ffeb3b;
  color: #212121;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 27.5px;
  height: 27.5px;
  line-height: 27.5px;
  display: block;
  background: none;
  color: #fff;
}

.banner {
  width: 100%;
  height: 100%;
  background: #f0f1f5 url("../img/banner.svg") center center no-repeat;
  background-size: cover;
  -webkit-transition: all 500ms;
  -webkit-transition: background all 500ms;
  transition: background all 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

body.dark .banner {
  background: #212121 url("../img/bannerdark.svg") center center no-repeat;
  background-size: cover;
  -webkit-transition: all 500ms;
  -webkit-transition: background all 500ms;
  transition: background all 500ms;
}

.banner .banner-content {
  width: 100%;
  height: 100%;
  text-align: center;
}

.banner .banner-content .text {
  padding: 3rem;
}

.banner .banner-content .text h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #0076BC;
}

.banner .banner-content .text .typing {
  padding-top: 1.5rem;
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  color: #ffeb3b;
}

.banner .banner-content .text .typing #changeling {
  color: #37383C;
}

body.dark .banner .banner-content .text .typing #changeling {
  color: #FFFFFF;
}

.banner .banner-content .text .btn-scroll {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 7.5px 20px;
  border-radius: 50px;
  background: #F06426;
  border: 2px solid #F06426;
  color: #FFFFFF;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.banner .banner-content .text .btn-scroll:hover {
  background: transparent;
  color: #F06426;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.banner .banner-content .img-banner {
  padding: 0 3.5rem;
  z-index: 0;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.banner .banner-content .img-banner-mobible {
  padding: 0 3.5rem;
  z-index: 0;
  width: 100%;
  display: none;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .banner .banner-content .text {
    padding: 5rem 1rem;
  }
  .banner .banner-content .text h1 {
    font-size: 48px;
  }
  .banner .banner-content .text .typing {
    margin: 2rem 0;
    font-size: 28px;
  }
  .banner .banner-content .text .btn-scroll {
    margin: 2rem 0;
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .banner .banner-content .text {
    padding: 7rem 0.5rem 2rem 0.5rem;
  }
  .banner .banner-content .text h1 {
    font-size: 32px;
  }
  .banner .banner-content .text .typing {
    height: 75px;
    margin: 1rem 0;
    font-size: 22px;
  }
  .banner .banner-content .text .btn-scroll {
    margin: 1rem 0;
    font-size: 20px;
  }
  .banner .banner-content .img-banner {
    display: none;
    padding: 0.5rem;
  }
  .banner .banner-content .img-banner-mobible {
    display: block;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 360px) and (max-height: 580px) {
  .banner .banner-content .text {
    padding: 8rem 1rem;
  }
  .banner .banner-content .text h1 {
    font-size: 28px;
  }
  .banner .banner-content .text .typing {
    height: 100px;
    margin: 1rem 0;
    font-size: 20px;
  }
  .banner .banner-content .text .btn-scroll {
    margin: 2rem 0;
    font-size: 20px;
  }
  .banner .banner-content .img-banner {
    display: none;
    padding: 0.5rem;
  }
  .banner .banner-content .img-banner-mobible {
    display: none;
    padding: 0.5rem;
  }
}

#sobre-mi {
  padding: 3rem 4rem;
}

#sobre-mi .perfil {
  background: #f0f1f5;
  color: #0d47a1;
  -webkit-box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
          box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  border-radius: 20px;
  padding: 2rem 1rem;
  margin-top: 2rem;
}

body.dark #sobre-mi .perfil {
  background: #37383C;
  color: #FFFFFF;
}

#sobre-mi .perfil .img-perfil {
  width: 250px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

#sobre-mi .perfil .text {
  padding: 1rem;
  font-size: 28px;
  line-height: 2.5;
  font-weight: 400;
  text-align: justify;
}

#sobre-mi .perfil .text span {
  font-weight: 600;
}

#sobre-mi .perfil .text span b {
  font-weight: 700;
}

#sobre-mi .perfil .text span b i {
  font-size: 18px;
  padding: 0 0.5rem;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

@media (max-width: 767px) {
  #sobre-mi {
    padding: 4rem 1rem 0rem 1rem;
  }
  #sobre-mi .perfil {
    background: #ffff;
    -webkit-box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
            box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    color: #0d47a1;
    border-radius: 20px;
    padding: 3rem 0.5rem;
  }
  #sobre-mi .perfil .img-perfil {
    width: 200px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
  }
  #sobre-mi .perfil .text {
    padding: 1rem;
    font-size: 22px;
    line-height: 2.5;
    font-weight: 400;
    text-align: justify;
  }
  #sobre-mi .perfil .text span {
    font-weight: 600;
  }
  #sobre-mi .perfil .text span b {
    font-weight: 700;
  }
}

@media screen and (max-width: 640px) {
  #sobre-mi {
    padding: 2rem 1rem;
  }
  #sobre-mi .perfil {
    padding: 0.5rem 1rem;
  }
  #sobre-mi .perfil .img-perfil {
    width: 100px;
  }
  #sobre-mi .perfil .text {
    padding: 0;
    font-size: 18px;
  }
}

.aptitudes section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 20px;
}

.aptitudes section:not(:last-child):after {
  position: absolute;
  content: "scroll down";
  bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.aptitudes section:nth-child(even) {
  background: #f8f8f8;
}

@media (max-width: 720px) {
  .aptitudes section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .aptitudes .pie {
    width: 150px !important;
    height: 150px !important;
  }
  .aptitudes .pie svg {
    width: 150px;
    height: 150px;
  }
}

.info {
  padding: 4rem;
  color: #0d47a1;
}

body.dark .info {
  color: #FFFFFF;
}

.info .main-data .info-personal {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}

body.dark .info .main-data .info-personal {
  background: #37383C;
}

.info .main-data .info-personal h2 {
  font-size: 32px;
  font-weight: 700;
}

.info .main-data .info-personal h3 {
  font-size: 24px;
  font-weight: 700;
}

.info .main-data .info-personal ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2;
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 500;
}

.info .main-data .info-personal ul li h6 {
  font-size: 20px;
  font-weight: 500;
}

.info .main-data .info-personal ul li span {
  font-size: 20px;
  font-weight: 200;
}

.info .main-data .actitudes {
  background: #FFFFFF;
  color: #0d47a1;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem 0;
}

body.dark .info .main-data .actitudes {
  background: #37383C;
  color: #FFFFFF;
}

.info .main-data .actitudes h3 {
  font-size: 24px;
  font-weight: 700;
}

.info .main-data .actitudes ul li {
  line-height: 2;
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 500;
}

.info .main-data .aptitudes {
  background: #FFFFFF;
  color: #0d47a1;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

body.dark .info .main-data .aptitudes {
  background: #37383C;
  color: #FFFFFF;
}

.info .main-data .aptitudes h3 {
  font-size: 24px;
  font-weight: 700;
}

.info .main-data .aptitudes ul li {
  line-height: 2;
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 500;
}

.info .second-data .idiomas {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 1rem;
}

body.dark .info .second-data .idiomas {
  background: #37383C;
}

.info .second-data .idiomas h3 {
  font-size: 24px;
  font-weight: 700;
}

.info .second-data .idiomas .circular-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

.info .second-data .idiomas .circular-bar .bar .pie {
  width: 100px !important;
  height: 100px !important;
}

body.dark .info .second-data .idiomas .circular-bar .bar .pie {
  background: #FFFFFF;
  border-radius: 100%;
}

.info .second-data .idiomas .circular-bar .bar .pie svg {
  width: 100% !important;
  height: 100% !important;
}

.info .second-data .idiomas .circular-bar .bar p {
  text-align: center;
  margin-top: 0.25rem;
}

.info .second-data .intereses {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 2rem;
}

body.dark .info .second-data .intereses {
  background: #37383C;
}

.info .second-data .intereses h3 {
  font-size: 24px;
  font-weight: 700;
}

.info .second-data .intereses li {
  padding-left: 1rem;
}

.info .second-data .intereses li h6 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.info .second-data .intereses li p {
  padding-left: 0.5rem;
  font-size: 18px;
  font-weight: 200;
}

@media (max-width: 767px) {
  .info {
    padding: 2rem;
  }
  .info .main-data .info-personal ul li {
    width: 100%;
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    padding: 0;
    line-height: 1.5;
    font-size: 20px;
  }
  .info .main-data .info-personal ul li h6 {
    width: 100%;
    font-size: 22px;
    margin-bottom: 0;
    padding: 0.25rem 0;
  }
  .info .main-data .info-personal ul li span {
    height: 100%;
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .info {
    padding: 4rem 1rem;
  }
}

.formacion {
  padding: 0rem;
  width: 100%;
}

.formacion .timeline-title {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #0d47a1;
}

.formacion .circle-date {
  padding: 0 7rem !important;
  border-radius: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.formacion .circle-date h2 {
  font-size: 28px;
  padding-top: 1rem;
}

.formacion .timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.formacion .timeline__event {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 65vw;
  padding: 2.5rem 0;
}

.formacion .timeline__event:nth-child(2n + 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.formacion .timeline__event:nth-child(2n + 1) .timeline__event__date {
  border-radius: 0 20px 20px 0;
}

.formacion .timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 20px 0 0 20px;
}

.formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
  content: "";
  width: 3px;
  height: calc(100% + 15rem);
  background: #03A9F4;
  position: absolute;
  top: 100%;
  left: 50%;
  right: auto;
  z-index: -1;
}

.formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #03A9F4;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -100%;
}

.formacion .timeline__event__title {
  margin-bottom: 1rem;
}

.formacion .timeline__event__content {
  padding: 1rem 1rem 2rem 1rem;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.25);
          box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.25);
  width: 100%;
  border-radius: 0 20px 20px 0;
  background: #FFFFFF;
}

body.dark .formacion .timeline__event__content {
  background: #37383C;
}

.formacion .timeline__event__date {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
  background: #0d47a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  padding: 0 25px;
  border-radius: 20px 0 0 20px;
}

.formacion .timeline__event__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  padding: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 20px;
  background: #0d47a1;
  border-radius: 100%;
  width: 40px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.25);
          box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.25);
  padding: 40px;
  height: 40px;
  position: relative;
}

.formacion .timeline__event__icon i {
  font-size: 32px;
}

.formacion .timeline__event__icon:before {
  content: "";
  width: 3px;
  height: calc(100% + 15rem);
  background: #03A9F4;
  position: absolute;
  top: 100%;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.formacion .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #03A9F4;
  position: absolute;
  left: 100%;
  z-index: -1;
  top: 50%;
}

.formacion .timeline__event__description {
  font-size: 20px;
  line-height: 2;
  text-align: justify;
  color: #0d47a1;
  font-weight: 500;
}

body.dark .formacion .timeline__event__description {
  color: #03A9F4;
}

.formacion .timeline__event--type2:after {
  background: #01A886;
}

.formacion .timeline__event--type2 .timeline__event__date {
  color: #FFFFFF;
  background: #01A886;
}

.formacion .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before, .formacion .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
  background: #F06426;
}

.formacion .timeline__event--type2 .timeline__event__icon {
  background: #01A886;
  color: #FFFFFF;
}

.formacion .timeline__event--type2 .timeline__event__icon:before, .formacion .timeline__event--type2 .timeline__event__icon:after {
  background: #F06426;
}

.formacion .timeline__event--type3:after {
  background: #F06426;
}

.formacion .timeline__event--type3 .timeline__event__date {
  color: #FFFFFF;
  background-color: #01A886;
}

.formacion .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before, .formacion .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
  background: #F06426;
}

.formacion .timeline__event--type3 .timeline__event__icon {
  background: #01A886;
  color: #FFFFFF;
}

.formacion .timeline__event--type3 .timeline__event__icon:before, .formacion .timeline__event--type3 .timeline__event__icon:after {
  background: #F06426;
}

.formacion .timeline__event:last-child .timeline__event__icon:before {
  content: none;
}

@media (max-width: 980px) {
  .formacion {
    padding: 3rem;
  }
  .formacion .timeline-title {
    padding-bottom: 0rem;
  }
  .formacion .circle-date {
    padding: 0 1rem !important;
    border-radius: 0 0 20px 20px !important;
  }
  .formacion .timeline__event {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .formacion .timeline__event:nth-child(2n + 1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__content {
    border-radius: 0;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    width: 100%;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
    display: none;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
    display: none;
  }
  .formacion .timeline__event__title {
    margin-bottom: 0rem;
  }
  .formacion .timeline__event__content {
    padding: 1rem;
    width: 100%;
    border-radius: 0 0 20px 20px !important;
  }
  .formacion .timeline__event__date {
    padding: 0;
    border-radius: 0;
  }
  .formacion .timeline__event__icon {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #0d47a1;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 20px 20px 0px 0;
  }
  .formacion .timeline__event__icon i {
    font-size: 32px;
  }
  .formacion .timeline__event__icon:before {
    content: "";
    display: none;
  }
  .formacion .timeline__event__icon:after {
    display: none;
  }
  .formacion .timeline__event__description {
    font-size: 18px;
    line-height: 2;
    text-align: justify;
  }
}

@media (max-width: 640px) {
  .formacion {
    padding: 0;
  }
  .formacion .timeline-title {
    padding-bottom: 0rem;
  }
  .formacion .timeline__event {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .formacion .timeline__event:nth-child(2n + 1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__content {
    border-radius: 0;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    width: 100%;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
    display: none;
  }
  .formacion .timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
    display: none;
  }
  .formacion .timeline__event__title {
    margin-bottom: 0rem;
  }
  .formacion .timeline__event__content {
    padding: 1rem;
    width: 100%;
    border-radius: 0 0 20px 20px !important;
  }
  .formacion .timeline__event__date {
    padding: 0;
    border-radius: 0;
  }
  .formacion .timeline__event__icon {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #0d47a1;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 20px 20px 0px 0;
  }
  .formacion .timeline__event__icon i {
    font-size: 32px;
  }
  .formacion .timeline__event__icon:before {
    content: "";
    display: none;
  }
  .formacion .timeline__event__icon:after {
    display: none;
  }
  .formacion .timeline__event__description {
    font-size: 18px;
    line-height: 2;
    text-align: justify;
  }
}

@-webkit-keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@-webkit-keyframes fillTop {
  100% {
    top: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
  }
}

@-webkit-keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

.conocimientos {
  width: 100%;
  height: 100vh;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.conocimientos .slider {
  width: 100%;
  border-radius: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.25);
          box-shadow: 10px 10px 20px rgba(0, 10, 8, 0.25);
  overflow: hidden;
}

body.dark .conocimientos .slider {
  background: #37383C;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.25);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.25);
}

.conocimientos .slider h2 {
  padding: 1rem 0.5rem;
  color: #0d47a1;
}

body.dark .conocimientos .slider h2 {
  color: #f0f1f5;
}

.conocimientos .slider p {
  padding: 0 0.5rem;
  color: #0076BC;
}

body.dark .conocimientos .slider p {
  color: #FFFFFF;
}

.conocimientos .slider .owl-carousel .owl-item .item {
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  padding: 1rem;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.conocimientos .slider .owl-carousel .owl-item .item img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.conocimientos .slider .owl-carousel .owl-item .item .description {
  padding: 1rem;
  text-align: center;
  display: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.conocimientos .slider .owl-carousel .owl-item .item .description h3 {
  color: #0d47a1;
  font-weight: 600;
}

body.dark .conocimientos .slider .owl-carousel .owl-item .item .description h3 {
  color: #f0f1f5;
}

.conocimientos .slider .owl-carousel .owl-item .item .description p {
  color: #0076BC;
  min-height: 100px;
  height: 100%;
  padding: 0 1rem;
}

body.dark .conocimientos .slider .owl-carousel .owl-item .item .description p {
  color: #FFFFFF;
}

.conocimientos .slider .owl-carousel .owl-item.big div {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.conocimientos .slider .owl-carousel .owl-item.big div .description {
  display: block;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@media (max-width: 768px) {
  .conocimientos {
    height: 100%;
    padding: 4rem;
  }
  .conocimientos .slider {
    padding: 2rem 0rem;
  }
  .conocimientos .slider p {
    padding: 1rem;
  }
  .conocimientos .slider p span {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .conocimientos {
    height: 100%;
    padding: 1rem;
  }
  .conocimientos .slider p {
    font-size: 14px;
    padding: 0 0.5rem;
  }
  .conocimientos .slider .owl-carousel .owl-item .item {
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    padding: 1rem 0rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }
  .conocimientos .slider .owl-carousel .owl-item .item img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .conocimientos .slider .owl-carousel .owl-item .item .description {
    padding: 1rem 0;
    text-align: center;
    display: none;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .conocimientos .slider .owl-carousel .owl-item .item .description h3 {
    color: #0d47a1;
    font-weight: 600;
  }
  .conocimientos .slider .owl-carousel .owl-item .item .description p {
    color: #0076BC;
    min-height: 75px;
    height: 100%;
    padding: 0 1rem;
  }
  .conocimientos .slider .owl-carousel .owl-item.big div {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#portafolio {
  width: 100%;
  height: 100%;
  padding: 4rem;
}

#portafolio .title {
  color: #37383C;
  text-align: center;
  font-weight: 600;
}

body.dark #portafolio .title {
  color: #FFFFFF;
}

#portafolio .content_card {
  padding: 1rem;
}

#portafolio .content_card .card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  background: #FFFFFF;
}

body.dark #portafolio .content_card .card {
  background: #37383C;
}

#portafolio .content_card .card .card_img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#portafolio .content_card .card .card_img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#portafolio .content_card .card .card_text {
  position: absolute;
  background: #FFFFFF;
  width: 101%;
  height: 101%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  padding: 1rem;
  opacity: 0;
}

body.dark #portafolio .content_card .card .card_text {
  background: #37383C;
}

#portafolio .content_card .card .card_text h3 {
  text-align: center;
  color: #212121;
  font-size: 20px;
  font-weight: 700;
}

body.dark #portafolio .content_card .card .card_text h3 {
  color: #FFFFFF;
}

#portafolio .content_card .card .card_text p {
  font-size: 18px;
  color: #37383C;
  font-weight: 500;
  text-align: justify;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  line-height: 1.5;
}

body.dark #portafolio .content_card .card .card_text p {
  color: #FFFFFF;
}

#portafolio .content_card .card .card_text p i {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  padding-right: 0.5rem;
  font-size: 15px;
}

#portafolio .content_card .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#portafolio .content_card .card:hover .card_text {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 1;
}

@media (max-width: 640px) {
  #portafolio {
    width: 100%;
    height: 100%;
    padding: 4rem 1rem;
  }
  #portafolio .content_card {
    padding: 1rem;
  }
  #portafolio .content_card .card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  #portafolio .content_card .card .card_img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  #portafolio .content_card .card .card_img img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  #portafolio .content_card .card .card_text {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    padding: .5rem;
    opacity: 1;
  }
  #portafolio .content_card .card .card_text h3 {
    text-align: center;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
  }
  #portafolio .content_card .card .card_text p {
    font-size: 16px;
    color: #37383C;
    font-weight: 500;
    text-align: justify;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    line-height: 1.5;
  }
  #portafolio .content_card .card .card_text p i {
    -webkit-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);
    padding-right: 0.5rem;
    font-size: 15px;
  }
  #portafolio .content_card .card:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
}

#contacto .footer {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 25px 25px 0 0;
  background: #0d47a1;
}

#contacto .footer .sec-1 {
  text-align: center;
}

#contacto .footer .sec-1 h2 {
  color: #FFFFFF;
}

#contacto .footer .sec-1 ul {
  list-style: none;
  margin: 0;
  padding: 8px 0;
  display: inline;
}

#contacto .footer .sec-1 ul li {
  display: inline-block;
  color: #FFFFFF;
  font-size: 18px;
}

#contacto .footer .sec-1 ul li i {
  padding: 0 0.25rem;
}

#contacto .footer .sec-1 ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-weight: 600;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#00b6ff), color-stop(50%, #dc00fe), color-stop(50%, #FFFFFF));
  background: linear-gradient(to right, #00b6ff, #dc00fe 50%, #FFFFFF 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
}

#contacto .footer .sec-1 ul li a:hover {
  background-position: 0 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

#contacto .footer .sec-2 {
  padding: 1rem;
}

#contacto .footer .sec-2 .redes-sociales {
  padding: 1rem 0;
}

#contacto .footer .sec-2 .redes-sociales ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .footer .sec-2 .redes-sociales ul li a {
  width: 80px;
  height: 80px;
  margin: 0 1rem;
  border-radius: 50%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  font-size: 24px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 3px 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 0 0 rgba(0, 0, 0, 0.2);
  border: 4px solid #FFFFFF;
  overflow: hidden;
  color: #FFFFFF;
  text-decoration: none;
  color: #FFFFFF;
}

#contacto .footer .sec-2 .redes-sociales ul li a.whatsapp:hover {
  background: #4DC75C;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contacto .footer .sec-2 .redes-sociales ul li a.linkedin:hover {
  background: #006AA4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contacto .footer .sec-2 .redes-sociales ul li a.phone:hover {
  background: #F06426;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 640px) {
  #contacto .footer {
    width: 100%;
    height: 100%;
    padding: 3rem 1rem 1rem 1rem;
  }
  #contacto .footer .sec-2 {
    padding: 1rem 0;
  }
}
/*# sourceMappingURL=estilos.css.map */